doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/jquery-ui.min.css", rel="stylesheet", type="text/css")
  body
    block content