doctype html
html
  head
    title= title
    link(rel='icon', href="/images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/jquery-ui.min.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/stylesheets/mediaqueries.css")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Josefin+Sans:400,600', rel='stylesheet' type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="In oktober 2015 bestaat onze opleiding Interactive Multimedia Design 10 jaar en dat willen we graag samen met jou vieren. Dat doen we binnenkort met een groot feest, maar doe in de tussentijd al wat herinneringen op door de tijdlijn.")
    meta(name="keywords", content="imd, interactive multimedia design, webdesign, webdevelopment, project, app, applicatie, thomas more, hogeschool, studenten")
    meta(name="author", content="Designosource.be")
    meta(property="og:title", content="10th Anniversary | We Are IMD")

    meta(property="og:image", content="http://jubilee-imd.herokuapp.com/images/fbopengraph-anniversary.jpg")
    meta(property="og:image:type", content="image/png")
    
    meta(property="og:title", content="10th Anniversary | We Are IMD")
    meta(property="og:description", content="In oktober 2015 bestaat onze opleiding Interactive Multimedia Design 10 jaar en dat willen we graag samen met jou vieren. Dat doen we binnenkort met een groot feest, maar doe in de tussentijd al wat herinneringen op door de tijdlijn.")
    meta(property="og:url", content="http://dejubileevan.weareimd.be")

    meta(name="twitter:card", content="summary")
    meta(name="twitter:domain", content="http://dejubileevan.weareimd.be")
    meta(name="twitter:site", content="@weareimd")
    meta(name="twitter:creator", content="@weareimd")
    meta(name="twitter:image", content="http://jubilee-imd.herokuapp.com/images/twitter-anniversary.jpg")
    meta(name="twitter:description", content="In oktober 2015 bestaat onze opleiding Interactive Multimedia Design 10 jaar en dat willen we graag samen met jou vieren. Dat doen we binnenkort met een groot feest, maar doe in de tussentijd al wat herinneringen op door de tijdlijn.")
    meta(name="twitter:title", content="10th Anniversary | We Are IMD")
    meta(name="twitter:url", content="http://dejubileevan.weareimd.be")
  body
    block content