doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/jquery-ui.min.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/stylesheets/mediaqueries.css")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Josefin+Sans:400,600', rel='stylesheet' type='text/css')
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    block content